<div class="container-fluid">
  <h1>Registration Form</h1>
    <form (ngSubmit)="!RegisterForm.invalid && saveCustomer()" #RegisterForm="ngForm" novalidate>
      <fieldset class="form-group">
        <label>UserName</label>
  
        <input type="text" class="form-control" #customername="ngModel" [(ngModel)]="cust.customername"
          name="customername" pattern="^[A-Za-z][A-Za-z0-9_]{2,19}$" minlength="3" maxlength="20" required>
          
      </fieldset>
        <span class="text-danger"
        *ngIf="(customername.touched || RegisterForm.submitted) && customername.errors?.['required']">
          Name is required
        </span>
  
        <span class="text-danger" 
        *ngIf="customername.touched && customername.errors?.['pattern']">
          Name cannot start with a number and length should be between 3 to 20
        </span>
    
      <fieldset class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" #password="ngModel" [(ngModel)]="cust.password" name="password"
          minlength="5" maxlength="20" pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&].{8,}" required>
      </fieldset>
  
      <span class="text-danger" *ngIf="(password.touched || RegisterForm.submitted) && password.errors?.['required']">
        Password is required
      </span>
      <span class="text-danger" *ngIf="password.touched && password.errors?.['pattern']">
        Password should have minimum 8 characters, at least 1 uppercase letter, 1 lowercase
        letter, 1 number and 1 special character
      </span>
  
  
      <fieldset class="form-group">
        <label>Email</label>
        <input type="email" class="form-control" #customeremail="ngModel" [(ngModel)]="cust.customeremail"
          name="customeremail" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" minlength="5" maxlength="50" required customeremail>
      </fieldset>
      <span class="text-danger"
        *ngIf="(customeremail.touched || RegisterForm.submitted) && customeremail.errors?.['required']">
        Email is required
      </span>
      <span class="text-danger" *ngIf="customeremail.touched && customeremail.errors?.['pattern']">
        Enter a valid email address
      </span>

      <fieldset class="form-group">
        <label>Mobile</label>
        <input type="text" class="form-control" #customermobilenumber="ngModel" [(ngModel)]="cust.customermobilenumber"
          name="customermobilenumber" pattern="^[5-9]\d{0,9}$" minlength="10" maxlength="10" required>
      </fieldset>
     
      <span class="text-danger"
        *ngIf="(customermobilenumber.touched || RegisterForm.submitted) && customermobilenumber.errors?.['required']">
        Mobile Number is required
      </span>
      <span class="text-danger" *ngIf="customermobilenumber.touched && customermobilenumber.errors?.['pattern']">
        Enter 10 digit valid mobile number and number should start from 5,6,7,8 or 9
      </span>
  
      <br><br>
  
      <button type="submit" [disabled]="!RegisterForm.valid" class="btn btn-success">Sign up</button>
    </form>
  </div>
  <br><br>
  <div style="text-align: center;">
    <p>{{successmessage}}</p>
  </div>