<h1>Login Form</h1>

<div class="container-fluid">

 <form (ngSubmit)="loginValid()" #LoginForm="ngForm" novalidate>
  
   <fieldset class="form-group">
  
   <label>Email</label>
  
   <input type="text" class="form-control" #restloginemail="ngModel" [(ngModel)]="loginData.restloginemail" minlength="5" maxlength="20"
  
  name="restloginemail" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
  
   </fieldset>
  
 <span class="text-danger"
  
  *ngIf="(restloginemail.touched || LoginForm.submitted) && restloginemail.errors?.['required']">
  
   Email is required
  
   </span>
  
   <span class="text-danger" *ngIf="restloginemail.touched && restloginemail.errors?.['pattern']">
  
   Enter a valid email address
  
   </span>
  
  
  
 <fieldset class="form-group">
  
  <label>Password</label>
  
   <input type="password" class="form-control" #restloginpassword="ngModel"  minlength="5" maxlength="20"
  
  [(ngModel)]="loginData.restloginpassword" name="restloginpassword" pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&].{8,}" required>
  
   </fieldset>
  
   <span class="text-danger"
  
   *ngIf="(restloginpassword.touched || LoginForm.submitted) && restloginpassword.errors?.['required']">
  
   Password is required
  
   </span>


   <span class="text-danger" *ngIf="restloginpassword.touched && restloginpassword.errors?.['pattern']">
    Password should have minimum 8 characters, at least 1 uppercase letter, 1 lowercase
    letter, 1 number and 1 special character
  </span>
  
  
  
 <br><br>

 Role
 <select class="form-select" aria-label="Default select example" name="role" #role="ngModel" [(ngModel)]="loginData.role" required>
  <option *ngFor="let r of roles" [ngValue]="r">{{r}}</option>
  <!-- <option selected>Role</option>
  <option value="1">Admin</option>
  <option value="2">User</option> -->
</select>

<br><br>
  
   <button [disabled]="!LoginForm.valid" type="submit" class="btn btn-success">Login</button>
  
   </form>
  
   </div>