<div class="container">
    <div class="container" style="background-color: cadetblue;"></div>
        <div class="row">
            <div class="col-6"><img src="assets/dog.jpg" class="img-thumbnail" alt="dog" height="300px" width="300px"></div>
            
            <div class="col-6">
                <p class="lead">This is a 404 page and we think it's fairly clear
                You aren't going to find what you're looking for here
                But we know you're hungry, so don't fret or rage
                Hit that big red button to go back to our homepage
            </p>
            <li><button mat-raised-button class="btn btn-outline-warning mr-10" routerLink="/home">Go Back to the home page</button></li>
        </div>
      </div>
</div>
