<!-- <div class="container1" *ngIf="!hardcodedAuthentication.isUserLoggedIn() && !hardcodedAuthentication.isAdminLoggedIn() "> -->
  <div class="container1"> 
    <h1 class="heading2">Food Delivery Application</h1>
  <div class="container2">
      <h3>Discover the best food & drinks near you</h3>
  </div>
  <div class="h-100 d-flex align-items-center justify-content-center">
        <nav class="navbar">
          <form class="form-inline" style="width: 900px;">
            <input class="form-control mr-sm-2" matInput
            #searchkeyword
            (keyup)="searchByKeyword(searchkeyword.value)"
            name="searchKey"
            id="searchkey"
            placeholder="Search any product" type="search" placeholder="Search" aria-label="Search">
            <!-- <mat-form-field *ngIf="hardcodedAuthentication.isUserLoggedIn()">
              <mat-label>Search any restaurant</mat-label>
              <input matInput
              #searchkeyword
              (keyup)="searchByKeyword(searchkeyword.value)"
              name="searchKey"
              id="searchkey"
              placeholder="Search any product">
              <mat-hint>Search any restaurant</mat-hint>
              </mat-form-field> -->
            <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
          </form>
        </nav>
  </div>
</div>



<div class="container">
  <div class="row">
      <div *ngFor="let rest of restaurant | paginate: { itemsPerPage: count, currentPage: p }" class="col-6 col-md-4 mt-4">
        <!-- col-6 col-md-4 mt-4 -->
          <div class="card h-100"> 
              <img class="card-img-top h-100" src="{{rest.pic}}" alt="Card image cap" (click)="viewRestaurant(rest.restid)">
              <div class="card-body">
                  <p class="card-text">{{rest.restname}}</p>
              </div>
          </div> 
      </div>
  </div>
</div>
<br>
<div class="text-right">
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>