<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Custom Id</th>
      <th scope="col">Custom Name</th>
      <th scope="col">Customer Email</th>
      <th scope="col">Customer Number</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cus of customer | paginate: { itemsPerPage: count, currentPage: p }">
      <td>{{cus.customerid}}</td>
      <td>{{cus.customername}}</td>
      <td>{{cus.customeremail}}</td>
      <td>{{cus.customermobilenumber}}</td>
      <td>
        <button class="btn btn-primary" (click)="customerUpdate(cus.customerid)">Update</button>
        &nbsp;
        <!-- <button class="btn btn-danger" (click)="customerDelete(cus.customerid)">Delete</button> -->
      </td>
    </tr>

  </tbody>
</table>
<br>
<div class="text-right">
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>