<div class="container">
    <div class="form-wrapper">
      <form (ngSubmit)="updateItem()" #itemForm="ngForm">
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            required
            placeholder="Enter name"
            name="customername"
            [(ngModel)]="customer.customername"
            #customername="ngModel"
          />
          <div *ngIf="customername.invalid && (customername.dirty || customername.touched)">
            <div *ngIf="customername.errors?.['required']" class="text-danger">Name is required.</div>
          </div>
        </div>
        <div class="form-group">
          <input
            type="email"
            class="form-control"
            required
            pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$"
            placeholder="Enter email"
            name="customeremail"
            [(ngModel)]="customer.customeremail"
            #customeremail="ngModel"
          />
          <div *ngIf="customeremail.invalid && (customeremail.dirty || customeremail.touched)">
            <div *ngIf="customeremail.errors?.['required']" class="text-danger">Email is required.</div>
            <div *ngIf="customeremail.errors?.['pattern']" class="text-danger">Invalid email format.</div>
          </div>
        </div>
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            required
            pattern="[0-9]{10}"
            placeholder="Enter mobile number"
            name="customermobilenumber"
            [(ngModel)]="customer.customermobilenumber"
            #customermobilenumber="ngModel"
          />
          <div
            *ngIf="customermobilenumber.invalid && (customermobilenumber.dirty || customermobilenumber.touched)"
          >
            <div *ngIf="customermobilenumber.errors?.['required']" class="text-danger">
              Mobile number is required.
            </div>
            <div *ngIf="customermobilenumber.errors?.['pattern']" class="text-danger">
              Mobile number must be 10 digits.
            </div>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Update</button>
        </div>
      </form>
    </div>
  </div>
  