<div class="body">

    <div class="container">
        <div class="row">
        <div class="col-sm">
            <p class="my-2 mx-2" style="font-size: 30px;">Invoice</p>
        </div>
        <div class="col-sm" style="padding-left: 100vh;">
            <button (click)="closeInvoice()" class="btn btn-danger " style="margin-top: 1vh;">close</button>
        </div>
    </div>
</div>


<div class="card">
    <div class="card-body mx-4">
        <div class="container">
            <p class="my-5 mx-5" style="font-size: 30px;">Thank for your purchase</p>
            <div class="row">
                <ul class="list-unstyled">
                    <li class="text-black" style="font-size: 30px">{{cartDetails.cust.customername}}</li>
                    <li class="text-black">{{cartDetails.cust.customermobilenumber}}</li>
                    <li class="text-muted mt-1"><span class="text-black">Invoice id:</span> {{inputdata.id}}</li>
                    <li class="text-black mt-1">{{inputdata.date|date:'dd/MM/yyyy hh:mm a' }}</li>
                </ul>
                <h3>Order Details</h3>
                <hr>
                <div class="row">
                    <div class="col-xl-4">
                        <h4>item name</h4>
                    </div>
                    <div class="col-xl-4">
                        <h4>item status</h4>
                    </div>
                    <div class="col-xl-4">
                        <h4>item cost</h4>
                    </div>
                </div>
                <div class="row" *ngFor="let cart of item">
                    <div class="col-xl-4">
                        <p>{{cart.itemname}}</p>
                    </div>
                    <div class="col-xl-4">
                        <p class="float-end">{{cart.itemstatus}}
                        </p>
                    </div>
                    <div class="col-xl-4">
                        <p class="float-end">{{cart.itemcost}}
                        </p>
                    </div>
                    <hr>
                </div>
                <div class="row text-black">

                    <div class="col-xl-12">
                        <p class="float-end fw-bold">Total: {{inputdata.cost}}
                            <button class="btn btn-outline-success" (click)="payAmout()">Pay</button>
                        </p>
                    </div>
                    <hr style="border: 2px solid black;">
                </div>
                <div class="text-center" style="margin-top: 90px;">
                    <p>Its nice to Been here </p>
                </div>

            </div>
        </div>
    </div>


    <!-- 
        
        
        
        <table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">invoice id</th>
            <th scope="col">order date</th>
            <th scope="col">totalcost</th>
            <th scope="col">total item</th>
            <th scope="col">status</th>
            
        </tr>
    </thead>
    <tbody>
        <tr  class="bg-primary">
            <th scope="row">{{inputdata.id}}</th>
            <td>{{inputdata.date|date:'dd/MM/yyyy hh:mm a' }}</td>
            <td>{{inputdata.cost}}</td>
            <td>{{inputdata.totalitem}}</td>
            <td>{{inputdata.status}}</td>
            <td>
           
            </td>

        </tr>
    </tbody>
</table> -->
</div>
