<!-- MENU COMPONENT -->
<header padding="10px" >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://source.unsplash.com/1400x500/?food" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h1>Partner with us at 0% commision for the first month!</h1>
          <h4>And get worth INR 1500. Valid for new restaurant partner in select cities.</h4>
          <!-- <button class="btn btn-primary me-md-2" type="button">Register your Restaurant</button> -->
          <button class="btn btn-primary me-md-2" [routerLink]="['/RegisterRestaurant']">Register your Restaurant</button>
          <button class="btn btn-light" [routerLink]="['/restaurant']" type="button">Veiw your Existing Restaurant</button>
          <p>Need help?Please email us at fooddelivery@gmail.com</p>
        </div>
      </div>
    </div>
    <br>
    <div  style="text-align: center;">
      <h1>Why should you partner with our Food Delivery Application?</h1>
      <h5>We enables you to get 60% more revenue, 10x new customers and boost your brand<br> visibility by providing
        insights to improve your business.</h5>
    </div>
    <br>
    <div  class="container text-center">
      <div class="row justify-content-center">
        <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded col-lg-2">
          <div class="card">
            <img class="card-img-top" src="" alt="">
            <div class="card-body">
              <h5 class="card-title">1000+ cities</h5>
              <p class="card-text">
                in India
              </p>
            </div>
          </div>
        </div>
        <div
          class="shadow-lg p-3 mb-5 bg-body-tertiary rounded col-lg-2">
          <div class="card">
            <img class="card-img-top" src="" alt="">
            <div class="card-body">
              <h5 class="card-title">3 lakh+</h5>
              <p class="card-text">
                restaurant listings
              </p>
            </div>
          </div>
        </div>
        <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded col-lg-2">
          <div class="card">
            <img class="card-img-top" src="" alt="">
            <div class="card-body">
              <h5 class="card-title">5.0 crores+</h5>
              <p class="card-text">
                monthly orders
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://source.unsplash.com/1400x500/?food dishes"
          class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h1 style="color: black;">How it works?</h1>
        </div>
      </div>
    </div>
    <br>
    <div class="container">
      <div class="row">
        <div class="col-sm-4 py-3 py-sm-0">
          <div class="card h-100" style="max-height: 200px;">
            <div class="card-img-top">
              <img src="https://b.zmtcdn.com/merchant-onboarding/71d998231fdaeb0bffe8ff5872edcde81600699935.png"
                alt="..." class="center-img">
            </div>
            <div class="card-body text-center" style="overflow: auto;">
              <h4 style="text-align: center;" class="card-title">STEP 1</h4>
              <h5 style="text-align: center;" class="card-title">Create your page on Our Application</h5>
              <p style="text-align: center;" class="card-text" style="max-height: 75px; overflow: hidden;">Help users
                discover your place by creating a listing on our Application</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4 py-3 py-sm-0">
          <div class="card h-100" style="max-height: 200px;">
            <img src="https://b.zmtcdn.com/merchant-onboarding/ecb5e086ee64a4b8b063011537be18171600699886.png"
               alt="..." class="center-img">
            <div class="card-body text-center" style="overflow: auto;">
              <h4 style="text-align: center;" class="card-title">STEP 2</h4>
              <h5 style="text-align: center;" class="card-title">Register for online ordering</h5>
              <p style="text-align: center;" class="card-text" style="max-height: 75px; overflow: hidden;">And deliver
                orders to millions of customers with ease</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4 py-3 py-sm-0">
          <div class="card h-100" style="max-height: 200px;">
            <img src="https://b.zmtcdn.com/merchant-onboarding/efdd6ac0cd160a46c97ad58d9bbd73fd1600699950.png"
              alt="..." class="center-img">
            <div class="card-body text-center" style="overflow: auto;">
              <h4 style="text-align: center;" class="card-title">STEP 3</h4>
              <h5 style="text-align: center;" class="card-title">Start receiving orders online</h5>
              <p style="text-align: center;" class="card-text" style="max-height: 75px; overflow: hidden;">Manage orders
                on our partner app, web dashboard, or API partners</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
      <!-- Footer code -->
      <footer class="py-3 my-4" style="background-color: grey;">
          <ul class="nav justify-content-center border-bottom pb-3 mb-3">
              <li class="nav-item"><a class="nav-link px-2 text-white"><b>Home</b></a></li>
              <li class="nav-item"><a class="nav-link px-2 text-white"><b>Features</b></a></li>
              <li class="nav-item"><a class="nav-link px-2 text-white"><b>Pricing</b></a></li>
              <li class="nav-item"><a class="nav-link px-2 text-white"><b>FAQs</b></a></li>
              <li class="nav-item"><a class="nav-link px-2 text-white"><b>About</b></a></li>
          </ul>
          <p class="text-center text-white"><b>© 2023 Company, FoodDeliveryApplication</b></p>
      </footer>
  </header>
  
  